<% @posts.each do |post| %>
<main class="middle container">
  <div class="row">
    <div class="post col-md-8 left-col">
      <h1><%= post.title %></h1>
      <div class="row">
        <h5 class="col-sm-3"><a href="#"><%= post.author %></a></h5>
        <!-- http://apidock.com/ruby/DateTime/strftime -->
        <h5 class="col-sm-9"><%= post.created_at.strftime("Published %F") %></h5>
      </div>
      <p><%= simple_format truncate(post.body, length: 600) %></p>
      <div class="row share-social">
        <div class="col-md-2">
          <button class="btn btn-primary" type="button" name="button">comments</button>
        </div>
        <div class="col-md-2">
          <button class="btn btn-primary" type="button" name="button">read later</button>
        </div>
        <div class="col-md-2">
          <button class="btn btn-primary" type="button" name="button">share</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 sidebar">
      <%= image_tag "harendt.jpg", :class => "img-responsive img-circle hidden-sm hidden-xs" %>
      <div class="row">
        <button class="col-md-4 btn btn-link" type="button" name="button">Twitter</button>
        <button class="col-md-4 btn btn-link" type="button" name="button">Facebook</button>
        <button class="col-md-4 btn btn-link" type="button" name="button">Instagram</button>
      </div>
      <div class="container-fluid">
        <%= image_tag "FLOR_de-Cana.jpg", :class => "img-responsive" %>
      </div>
      <div class="container-fluid">
        <h4 class="text-center">Sidebar Section Heading</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
      </div>
    </div>
  </div>
  <br>
<br>
</main>
<%end%>
